body .firstPage {
  background: url("../img/landingpage.png") no-repeat fixed center;
  background-size: cover;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }
  body .firstPage .title {
    font-family: "Exo", sans-serif;
    font-weight: 200;
    font-size: 60px;
    letter-spacing: 2px;
    line-height: 75px;
    color: #282828; }
    @media (max-width: 576px) {
      body .firstPage .title {
        font-size: 35px;
        line-height: 45px;
        padding-right: 15px;
        padding-left: 15px; } }
  body .firstPage .play_icon {
    margin: 2em 0 1em 0;
    padding: 0; }
  body .firstPage .play_icon:hover {
    transform: scale(1.2); }
  body .firstPage .btn {
    height: 50px;
    width: 190px;
    border-radius: 5px;
    background-color: #ff6d6d;
    color: white;
    border: none; }
  body .firstPage .btn:hover {
    background-color: red; }
  body .firstPage .text2 {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 75px;
    color: #282828;
    font-family: "Exo", sans-serif;
    font-weight: 400;
    text-align: center; }

body .secondPage {
  position: relative;
  background-color: #ececec; }
  body .secondPage .triangle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 50vh 50vh;
    border-color: transparent transparent #fb8686 transparent; }
    @media (max-width: 768px) {
      body .secondPage .triangle {
        display: none; } }
  body .secondPage .newDesign {
    font-size: 16px;
    letter-spacing: 3px;
    line-height: 50px;
    color: #ff6d6d;
    font-family: "Exo", sans-serif;
    font-weight: 500; }
  body .secondPage .thereIs {
    font-size: 40px;
    letter-spacing: 2px;
    line-height: 50px;
    color: #282828;
    font-family: "Exo", sans-serif;
    font-weight: 500; }
  body .secondPage .colorText {
    color: #ff6d6d;
    font-size: 40px;
    letter-spacing: 2px;
    line-height: 50px;
    font-family: "Exo", sans-serif;
    font-weight: 500; }
  body .secondPage .grayPara1 {
    opacity: 0.66;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 26px;
    color: #282828;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    padding-top: 50px; }
  body .secondPage .grayPara2 {
    opacity: 0.66;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 26px;
    color: #282828;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    padding-top: 40px; }
  body .secondPage .new-design {
    padding: 90px 150px;
    z-index: 10;
    background-color: white;
    height: 100%; }
    @media (min-width: 600px) {
      body .secondPage .new-design {
        margin: 0 40% 0 0; } }
    @media (max-width: 768px) {
      body .secondPage .new-design {
        margin: 0;
        padding-right: 60px;
        padding-left: 60px; } }

body .thirdPage {
  background: url("../img/grayBackground.png") no-repeat fixed center;
  background-size: cover;
  text-align: center; }
  body .thirdPage .firstRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    @media (max-width: 768px) {
      body .thirdPage .firstRow .thirdPage__title-img1 img {
        max-width: 150px; } }
    @media (max-width: 576px) {
      body .thirdPage .firstRow .thirdPage__title-img1 {
        display: none; } }
    body .thirdPage .firstRow .thirdPage__title {
      padding-top: 130px; }
      @media (max-width: 576px) {
        body .thirdPage .firstRow .thirdPage__title {
          margin: 0 auto;
          padding-right: 15px;
          padding-left: 15px; } }
      body .thirdPage .firstRow .thirdPage__title .newFeatures {
        font-size: 16px;
        letter-spacing: 3px;
        line-height: 50px;
        color: #ff6d6d;
        font-family: "Exo", sans-serif;
        font-weight: 500; }
      body .thirdPage .firstRow .thirdPage__title .someAwesome {
        font-size: 40px;
        letter-spacing: 2px;
        line-height: 50px;
        color: #282828;
        font-family: "Exo", sans-serif;
        font-weight: 500; }
        @media (max-width: 768px) {
          body .thirdPage .firstRow .thirdPage__title .someAwesome {
            font-size: 30px; } }
    @media (max-width: 768px) {
      body .thirdPage .firstRow .thirdPage__title-img2 img {
        max-width: 150px; } }
    @media (max-width: 576px) {
      body .thirdPage .firstRow .thirdPage__title-img2 {
        display: none; } }
  body .thirdPage .secondRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 80px; }
    @media (max-width: 576px) {
      body .thirdPage .secondRow {
        flex-direction: column; } }
    body .thirdPage .secondRow .feature {
      flex-basis: 30%; }
      body .thirdPage .secondRow .feature .feature__title {
        padding-top: 20px;
        font-size: 22px;
        font-family: "Exo", sans-serif;
        font-weight: 500; }
      body .thirdPage .secondRow .feature .feature__text {
        opacity: 0.66;
        padding-top: 10px; }
      @media (max-width: 768px) {
        body .thirdPage .secondRow .feature {
          width: 60%;
          align-self: center;
          padding-top: 20px; } }

body .fourthPage .row4 {
  display: flex;
  flex-direction: row; }
  @media (max-width: 1000px) {
    body .fourthPage .row4 {
      flex-direction: column-reverse; } }
  body .fourthPage .row4 .img5 {
    padding-top: 100px; }
    @media (max-width: 768px) {
      body .fourthPage .row4 .img5 img {
        width: 70%;
        margin: 0 auto; } }

body .fourthPage .newDesign2 {
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 50px;
  color: #ff6d6d;
  font-family: "Exo", sans-serif;
  font-weight: 500; }

body .fourthPage .responsive {
  font-size: 40px;
  letter-spacing: 2px;
  line-height: 50px;
  color: #282828;
  font-family: "Exo", sans-serif;
  font-weight: 500; }
  @media (max-width: 576px) {
    body .fourthPage .responsive {
      font-size: 30px; } }

body .fourthPage .colorText2 {
  color: #ff6d6d;
  font-size: 40px;
  letter-spacing: 2px;
  line-height: 50px;
  font-family: "Exo", sans-serif;
  font-weight: 500; }

body .fourthPage .grayPara3 {
  opacity: 0.66;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 26px;
  color: #282828;
  font-family: "Exo", sans-serif;
  font-weight: 500;
  padding-top: 50px; }

body .fourthPage .new-design2 {
  padding-top: 90px;
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 90px;
  z-index: 10;
  background-color: white;
  height: 100%; }
  @media (min-width: 600px) {
    body .fourthPage .new-design2 {
      margin: 0 10% 0 0; } }
  @media (max-width: 1000px) {
    body .fourthPage .new-design2 {
      margin: 0;
      padding-bottom: 30px; } }
  @media (max-width: 576px) {
    body .fourthPage .new-design2 {
      padding-left: 30px; } }

body .fifthPage {
  background: url("../img/back5.jpg") no-repeat fixed center;
  background-size: cover;
  justify-content: space-between;
  padding-bottom: 80px; }
  @media (max-width: 576px) {
    body .fifthPage {
      flex-direction: column; } }
  body .fifthPage .RowOnFifth {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 80px;
    padding-top: 50px; }
    @media (max-width: 576px) {
      body .fifthPage .RowOnFifth {
        flex-direction: column; } }
    body .fifthPage .RowOnFifth .clients {
      flex-basis: 30%;
      text-align: center; }
      body .fifthPage .RowOnFifth .clients .clients_img {
        margin: 0 auto; }
      body .fifthPage .RowOnFifth .clients .clients_title {
        padding-top: 20px;
        font-family: "Exo", sans-serif;
        font-weight: 500;
        font-size: 22px;
        color: white; }
      body .fifthPage .RowOnFifth .clients .clients_red {
        font-family: "Exo", sans-serif;
        font-weight: 500;
        color: #ff6d6d; }
      body .fifthPage .RowOnFifth .clients .clients_text {
        opacity: 0.66;
        padding-top: 10px;
        font-size: 16px;
        letter-spacing: 1px;
        color: white;
        font-style: italic;
        font-family: "Exo", sans-serif;
        font-weight: 300; }
      @media (max-width: 768px) {
        body .fifthPage .RowOnFifth .clients {
          width: 60%;
          align-self: center;
          padding-top: 20px; } }
  body .fifthPage .secondRowOnFifth {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }

body .browser {
  text-align: center;
  background-color: #f6f5f3; }
  body .browser .text6 {
    opacity: 0.66;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 26px;
    color: #282828;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    margin: 20px auto 90px;
    width: 55%; }
  body .browser .newFeatures2 {
    padding-top: 70px;
    font-size: 16px;
    letter-spacing: 3px;
    line-height: 50px;
    color: #ff6d6d;
    font-family: "Exo", sans-serif;
    font-weight: 500; }
  body .browser .someAwesome2 {
    font-size: 40px;
    letter-spacing: 2px;
    line-height: 50px;
    color: #282828;
    font-family: "Exo", sans-serif;
    font-weight: 500; }
    @media (max-width: 768px) {
      body .browser .someAwesome2 {
        font-size: 30px; } }

body .section-form {
  background: #323969; }
  body .section-form .section-inner {
    display: flex;
    flex-direction: column; }
  body .section-form-content {
    flex-grow: 1;
    display: flex;
    align-items: center; }
  body .section-form-wrapper {
    margin: 0 auto; }
    body .section-form-wrapper__title, body .section-form-wrapper__tip, body .section-form-wrapper__form, body .section-form-wrapper__subtitle {
      text-align: center;
      color: white;
      font-size: 16px;
      font-family: "Exo", sans-serif;
      font-weight: 400; }
    body .section-form-wrapper .pretitle {
      color: #fb8686;
      text-align: center;
      margin-top: 100px;
      margin-bottom: 10px; }
    body .section-form-wrapper__title {
      font-family: "Exo", sans-serif;
      font-weight: 500;
      font-size: 40px; }
    body .section-form-wrapper__tip {
      padding-top: 42px;
      padding-left: 57%; }
      body .section-form-wrapper__tip div, body .section-form-wrapper__tip img {
        display: inline; }
      body .section-form-wrapper__tip div {
        padding-bottom: 42px;
        position: absolute; }
      body .section-form-wrapper__tip img {
        padding-bottom: 17px;
        padding-right: 10px;
        padding-top: 5px; }
    body .section-form-wrapper__form {
      display: flex; }
      body .section-form-wrapper__form-input {
        flex: 1;
        padding-right: 30px; }
        body .section-form-wrapper__form-input input {
          width: 100%;
          border: rgba(255, 255, 255, 0.5) 1px solid;
          border-radius: 3px;
          background: rgba(255, 255, 255, 0.1);
          padding: 20px 28px; }
          body .section-form-wrapper__form-input input::placeholder {
            color: #ffffff; }
      body .section-form-wrapper__form-button button {
        background: #fb8686;
        cursor: pointer;
        border: none;
        border-radius: 3px;
        padding: 20px 90px;
        color: white; }
    body .section-form-wrapper__subtitle {
      opacity: 0.6;
      margin-top: 53px;
      margin-bottom: 85px; }
